<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ $title := print .Site.Title " | " .Title }}
  {{- if .IsHome }}{{ $title = .Site.Title }}{{ end -}}
  <title>{{ $title }}</title>
  {{ $css := resources.Get "css/style.css" | postCSS }}
  {{- if .Site.IsServer }}
    <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
  {{ else }}
    {{ $css = $css | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end -}}
  <!-- <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script> -->
</head>
